.App {
	height: 100vh;
}

.App-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 40px;
}

#light {
	background-color: #f5fafa;
}
#dark {
	background-color: #17224d;
}

.logo {
	color: #007fff;
	font-size: 1.4rem;
	font-weight: 600;
}

.moon-img {
	width: 24px;
	margin-top: 2px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.App-section {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10vh;
	overflow: hidden;
}

.sec-div {
	display: flex;
	align-items: center;
}

.number {
	font-size: 16rem;
	color: #17224d;
	padding: 0 15vw;
}

#dark .number {
	color: #f5fafa;
}

.plus-img {
	width: 100px;
}

.App-footer {
	width: 100vw;
	padding: 40px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
}

.btn {
	height: 50px;
	width: 140px;
	border-radius: 10px;
	border: 0;
	margin: 0 20px;
	font-size: 1.1rem;
	font-weight: 500;
	font-family: 'Poppins';
	cursor: pointer;
	color: #f5fafa;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.ans-btn {
	background-color: #007fff;
	box-shadow: 0px 4px 12px rgba(0, 127, 255, 0.25);
}

.next-btn {
	background-color: #f5fafa;
	color: #007fff;
	border: 2px solid #007fff;
}

#dark .next-btn {
	background-color: #17224d;
}

@media screen and (max-width: 900px) {
	.moon-img {
		width: 20px;
	}
	.number {
		font-size: 12rem;
		padding: 0 12vw;
	}
	.plus-img {
		width: 80px;
	}
}

@media screen and (max-width: 500px) {
	.number {
		font-size: 10rem;
		padding: 0 10vw;
	}
	.plus-img {
		width: 60px;
	}
}

@media screen and (max-width: 375px) {
	.App-header {
		padding: 20px 20px;
	}
}
